<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Withdraw</title>
</head>
<body>
<ul>
    <li><a href="/main-page">Back to the main page.</a></li>
</ul>

<h2>Withdraw</h2>

<form th:action="@{/withdraw}" method="post">
    <label for="cardNumber">Card Number:</label>
    <input type="text" id="cardNumber" name="cardNumber" required />

    <br/>

    <label for="pin">PIN:</label>
    <input type="password" id="pin" name="pin" required />

    <br/>

    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" required />

    <br/>

    <button type="submit">Withdraw</button>
</form>

<p><span th:text="${result}"> result </span></p>
<p><span th:text="${count5000}"> count5000</span></p>
<p><span th:text="${count1000}"> count1000 </span></p>
<p><span th:text="${count500}"> count500 </span></p>
<p><span th:text="${count100}"> count100 </span></p>
<p><span th:text="${status}"> status </span></p>

<br/>


</body>
</html>